
.nav > li > a {
    color: #a7b1c2;
}

.nav.navbar-right > li > a {
    color: #999c9e
}

.nav > li.active > a {
    color: #fff
}

.navbar-default .nav > li > a:focus, .navbar-default .nav > li > a:hover {
    background-color: #293846;
    color: #fff
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background: #fff
}

.navbar-default {
    border-color: #2f4050;
}

.dropdown-menu {
    box-shadow: 0 0 3px rgba(86, 96, 117, .3)
}

.nav > li.active {
    border-left: 4px solid #19aa8d;
    background: #293846
}

.nav-header a {
    color: #DFE4ED
}

.nav-header .text-muted {
    color: #8095a8
}

.canvas-menu.mini-navbar .nav-second-level {
    background: #293846
}

.navbar-default .special_link a {
    background: #1ab394;
    color: #fff
}

.navbar-default .special_link a:hover {
    background: #17987e !important;
    color: #fff
}

.navbar-default .special_link a span.label {
    background: #fff;
    color: #1ab394
}

.navbar-default .landing_link a {
    background: #1cc09f;
    color: #fff
}

.navbar-default .landing_link a:hover {
    background: #1ab394 !important;
    color: #fff
}

.navbar-default .landing_link a span.label {
    background: #fff;
    color: #1cc09f
}

.logo-element {
    color: #fff;
}

.navbar-fixed-top, .navbar-static-top {
    background: #f3f3f4
}

body.mini-navbar .nav-header {
    background-color: #1ab394
}

.canvas-menu.mini-navbar .nav li:hover > .nav-second-level, .fixed-sidebar.mini-navbar .nav li:hover > .nav-second-level {
    background-color: #2f4050;
}

body.canvas-menu nav.navbar-static-side {
    background: #2f4050;
}

.top-navigation .navbar-nav .dropdown-menu > .active > a {
    background: #fff;
    color: #1ab394;
}

.white-bg .navbar-fixed-top, .white-bg .navbar-static-top {
    background: #fff
}

.top-navigation .nav > li > a {
    color: #676a6c
}

.top-navigation .nav > li a:focus, .top-navigation .nav > li a:hover {
    background: #fff;
    color: #1ab394
}

.top-navigation .nav > li.active {
    background: #fff;
}

.top-navigation .nav > li.active > a {
    color: #1ab394
}

.top-navigation .navbar-nav .dropdown-menu {
    border: 1px solid #e7eaec
}

.top-navigation .navbar-brand {
    background: #1ab394;
    color: #fff;
}

.navbar-toggle {
    color: #fff;
}


.btn-primary.btn-outline {
    color: #1ab394
}

.btn-success.btn-outline {
    color: #1c84c6
}

.btn-info.btn-outline {
    color: #23c6c8
}

.btn-warning.btn-outline {
    color: #f8ac59
}

.btn-danger.btn-outline {
    color: #ed5565
}

.btn-danger.btn-outline:hover, .btn-info.btn-outline:hover, .btn-primary.btn-outline:hover, .btn-success.btn-outline:hover, .btn-warning.btn-outline:hover {
    color: #fff
}

.btn-primary {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #FFF
}

.btn-primary.active, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open .dropdown-toggle.btn-primary {
    background-color: #18a689;
    border-color: #18a689;
    color: #FFF
}


.btn-primary.active[disabled], .btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
    background-color: #1dc5a3;
    border-color: #1dc5a3
}

.btn-success {
    background-color: #1c84c6;
    border-color: #1c84c6;
    color: #FFF
}

.btn-success.active, .btn-success:active, .btn-success:focus, .btn-success:hover, .open .dropdown-toggle.btn-success {
    background-color: #1a7bb9;
    border-color: #1a7bb9;
    color: #FFF
}


.btn-success.active[disabled], .btn-success.disabled, .btn-success.disabled.active, .btn-success.disabled:active, .btn-success.disabled:focus, .btn-success.disabled:hover, .btn-success[disabled], .btn-success[disabled]:active, .btn-success[disabled]:focus, .btn-success[disabled]:hover, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success.active, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:hover {
    background-color: #1f90d8;
    border-color: #1f90d8
}

.btn-info {
    background-color: #23c6c8;
    border-color: #23c6c8;
    color: #FFF
}

.btn-info.active, .btn-info:active, .btn-info:focus, .btn-info:hover, .open .dropdown-toggle.btn-info {
    background-color: #21b9bb;
    border-color: #21b9bb;
    color: #FFF
}


.btn-info.active[disabled], .btn-info.disabled, .btn-info.disabled.active, .btn-info.disabled:active, .btn-info.disabled:focus, .btn-info.disabled:hover, .btn-info[disabled], .btn-info[disabled]:active, .btn-info[disabled]:focus, .btn-info[disabled]:hover, fieldset[disabled] .btn-info, fieldset[disabled] .btn-info.active, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:hover {
    background-color: #26d7d9;
    border-color: #26d7d9
}

.btn-default {
    background-color: #c2c2c2;
    border-color: #c2c2c2;
    color: #FFF
}

.btn-default.active, .btn-default:active, .btn-default:focus, .btn-default:hover, .open .dropdown-toggle.btn-default {
    background-color: #bababa;
    border-color: #bababa;
    color: #FFF
}

.btn-default.active[disabled], .btn-default.disabled, .btn-default.disabled.active, .btn-default.disabled:active, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled], .btn-default[disabled]:active, .btn-default[disabled]:focus, .btn-default[disabled]:hover, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default.active, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:hover {
    background-color: #ccc;
    border-color: #ccc
}

.btn-warning {
    background-color: #f8ac59;
    border-color: #f8ac59;
    color: #FFF
}

.btn-warning.active, .btn-warning:active, .btn-warning:focus, .btn-warning:hover, .open .dropdown-toggle.btn-warning {
    background-color: #f7a54a;
    border-color: #f7a54a;
    color: #FFF
}



.btn-warning.active[disabled], .btn-warning.disabled, .btn-warning.disabled.active, .btn-warning.disabled:active, .btn-warning.disabled:focus, .btn-warning.disabled:hover, .btn-warning[disabled], .btn-warning[disabled]:active, .btn-warning[disabled]:focus, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning.active, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning:hover {
    background-color: #f9b66d;
    border-color: #f9b66d
}

.btn-danger {
    background-color: #ed5565;
    border-color: #ed5565;
    color: #FFF
}

.btn-danger.active, .btn-danger:active, .btn-danger:focus, .btn-danger:hover, .open .dropdown-toggle.btn-danger {
    background-color: #ec4758;
    border-color: #ec4758;
    color: #FFF
}

.btn-danger.active[disabled], .btn-danger.disabled, .btn-danger.disabled.active, .btn-danger.disabled:active, .btn-danger.disabled:focus, .btn-danger.disabled:hover, .btn-danger[disabled], .btn-danger[disabled]:active, .btn-danger[disabled]:focus, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger.active, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger:hover {
    background-color: #ef6776;
    border-color: #ef6776
}

.btn-link {
    color: inherit
}

.btn-link.active, .btn-link:active, .btn-link:focus, .btn-link:hover, .open .dropdown-toggle.btn-link {
    color: #1ab394;
}


.btn-link.active[disabled], .btn-link.disabled, .btn-link.disabled.active, .btn-link.disabled:active, .btn-link.disabled:focus, .btn-link.disabled:hover, .btn-link[disabled], .btn-link[disabled]:active, .btn-link[disabled]:focus, .btn-link[disabled]:hover, fieldset[disabled] .btn-link, fieldset[disabled] .btn-link.active, fieldset[disabled] .btn-link:active, fieldset[disabled] .btn-link:focus, fieldset[disabled] .btn-link:hover {
    color: #cacaca
}

.btn-white {
    color: inherit;
    background: #fff;
    border: 1px solid #e7eaec
}

.btn-white.active, .btn-white:active, .btn-white:focus, .btn-white:hover, .open .dropdown-toggle.btn-white {
    color: inherit;
    border: 1px solid #d2d2d2
}

.btn-white.active, .btn-white:active {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .15) inset
}

.btn-white.active[disabled], .btn-white.disabled, .btn-white.disabled.active, .btn-white.disabled:active, .btn-white.disabled:focus, .btn-white.disabled:hover, .btn-white[disabled], .btn-white[disabled]:active, .btn-white[disabled]:focus, .btn-white[disabled]:hover, fieldset[disabled] .btn-white, fieldset[disabled] .btn-white.active, fieldset[disabled] .btn-white:active, fieldset[disabled] .btn-white:focus, fieldset[disabled] .btn-white:hover {
    color: #cacaca
}

.form-control, .form-control:focus, .has-error .form-control:focus, .has-success .form-control:focus, .has-warning .form-control:focus, .navbar-collapse, .navbar-form, .navbar-form-custom .form-control:focus, .navbar-form-custom .form-control:hover, .open .btn.dropdown-toggle, .panel, .popover, .progress, .progress-bar {
    box-shadow: none
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    -webkit-transition: all .5s;
    transition: all .5s
}

button.dim {
    color: #fff;
}

button.btn-primary.dim {
    box-shadow: inset 0 0 0 #16987e, 0 5px 0 0 #16987e, 0 10px 5px #999
}

button.btn-primary.dim:active {
    box-shadow: inset 0 0 0 #16987e, 0 2px 0 0 #16987e, 0 5px 3px #999
}

button.btn-default.dim {
    box-shadow: inset 0 0 0 #b3b3b3, 0 5px 0 0 #b3b3b3, 0 10px 5px #999
}

button.btn-default.dim:active {
    box-shadow: inset 0 0 0 #b3b3b3, 0 2px 0 0 #b3b3b3, 0 5px 3px #999
}

button.btn-warning.dim {
    box-shadow: inset 0 0 0 #f79d3c, 0 5px 0 0 #f79d3c, 0 10px 5px #999
}

button.btn-warning.dim:active {
    box-shadow: inset 0 0 0 #f79d3c, 0 2px 0 0 #f79d3c, 0 5px 3px #999
}

button.btn-info.dim {
    box-shadow: inset 0 0 0 #1eacae, 0 5px 0 0 #1eacae, 0 10px 5px #999
}

button.btn-info.dim:active {
    box-shadow: inset 0 0 0 #1eacae, 0 2px 0 0 #1eacae, 0 5px 3px #999
}

button.btn-success.dim {
    box-shadow: inset 0 0 0 #1872ab, 0 5px 0 0 #1872ab, 0 10px 5px #999
}

button.btn-success.dim:active {
    box-shadow: inset 0 0 0 #1872ab, 0 2px 0 0 #1872ab, 0 5px 3px #999
}

button.btn-danger.dim {
    box-shadow: inset 0 0 0 #ea394c, 0 5px 0 0 #ea394c, 0 10px 5px #999
}

button.btn-danger.dim:active {
    box-shadow: inset 0 0 0 #ea394c, 0 2px 0 0 #ea394c, 0 5px 3px #999
}
button.dim:before {
    color: #fff;
}
.label {
    background-color: #d1dade;
    color: #5e5e5e;
}
.badge {
    background-color: #d1dade;
    color: #5e5e5e;
}



.badge-primary, .label-primary {
    background-color: #1ab394;
    color: #FFF
}

.badge-success, .label-success {
    background-color: #1c84c6;
    color: #FFF
}

.badge-warning, .label-warning {
    background-color: #f8ac59;
    color: #FFF
}

.badge-warning-light, .label-warning-light {
    background-color: #f8ac59;
    color: #fff
}

.badge-danger, .label-danger {
    background-color: #ed5565;
    color: #FFF
}

.badge-info, .label-info {
    background-color: #23c6c8;
    color: #FFF
}

.badge-inverse, .label-inverse {
    background-color: #262626;
    color: #FFF
}

.badge-white, .label-white {
    background-color: #FFF;
    color: #5E5E5E
}

.badge-disable, .label-white {
    background-color: #2A2E36;
    color: #8B91A0
}

.chosen-container-single .chosen-single {
    background-color: #FFF;
}
.chosen-container-multi .chosen-choices li.search-choice {
    background: #f1f1f1;
    border: 1px solid #ededed;
    color:#333;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #f4f4f4;
    border-color: #DDD;
}

.pagination > li > a, .pagination > li > span {
    background-color: #FFF;
    border: 1px solid #DDD;
}

.tooltip-inner {
    background-color: #2F4050
}

.tooltip.top .tooltip-arrow {
    border-top-color: #2F4050
}

.tooltip.right .tooltip-arrow {
    border-right-color: #2F4050
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #2F4050
}

.tooltip.left .tooltip-arrow {
    border-left-color: #2F4050
}

.fc-state-default {
    background-color: #fff;
    color: #333;
    border: 1px solid
}

.fc-button {
    border: 1px solid #e7eaec;
}

.fc-state-active {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #fff
}

.fc-header-title h2 {
    color: inherit
}

.fc-content .fc-widget-content, .fc-content .fc-widget-header {
    border-color: #e7eaec;
}

.fc-border-separate tbody {
    background-color: #F8F8F8
}

.fc-state-highlight {
    background: none repeat scroll 0 0 #FCF8E3
}

.fc-agenda .fc-event-time, .fc-event, .fc-event a {
    background-color: #1ab394;
    border-color: #1ab394
}

.fc-event-time, .fc-event-title {
    color: #717171;
}

.ui-calendar .fc-event-time, .ui-calendar .fc-event-title {
    color: #fff
}
.chat-activity-list .chat-element {
    border-bottom: 1px solid #e7eaec
}

.chat-element .well {
    border: 1px solid #e7eaec;
    box-shadow: none;
}

.chat li {
    border-bottom: 1px dotted #B3A9A9
}

.chat li .chat-body p {
    color: #777
}

a.list-group-item.active, a.list-group-item.active:focus, a.list-group-item.active:hover {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #FFF;
}


.list-group-item {
    background-color: inherit;
    border: 1px solid #e7eaec;
}
.elements-list a {
    color: inherit
}

.elements-list .list-group-item.active, .elements-list .list-group-item:hover {
    background: #f3f3f4;
    color: inherit;
    border-color: #e7eaec;
}


.jqstooltip {
    color: #fff;
    background: #2b303a;
    background-color: rgba(43, 48, 58, .8);

}

.jqsfield {
    color: #fff;
}

table.dataTable thead .sorting:after {
    color: rgba(50, 50, 50, .5)
}


.show-grid [class^=col-] {
    border: 1px solid #ddd;
    background-color: #eee !important
}

#animation_box {
    background-color: #f9f8f8;
}
.pace .pace-progress {
    background: #1ab394;
}

.widget-text-box {
    border: 1px solid #e7eaec;
    background: #fff
}
.todo-list.small-list > li {
    background: #f3f3f4;
    color: inherit;
}

.todo-list > li {
    background: #f3f3f4;
    border-left: 6px solid #e7eaec;
    border-right: 6px solid #e7eaec;
    color: inherit;
}
.form-control, .single-line {
    background-color: #FFF;
    border: 1px solid #e5e6e7;
    color: inherit;
}


.form-control:focus, .single-line:focus {
    border-color: #1ab394 !important
}

.has-success .form-control {
    border-color: #1ab394
}

.has-warning .form-control {
    border-color: #f8ac59
}

.has-error .form-control {
    border-color: #ed5565
}

.has-success .control-label {
    color: #1ab394
}

.has-warning .control-label {
    color: #f8ac59
}

.has-error .control-label {
    color: #ed5565
}

.input-group-addon {
    background-color: #fff;
    border: 1px solid #E5E6E7;
    color: inherit;
}

.noUi-connect {
    background: none repeat scroll 0 0 #1ab394;
    box-shadow: none
}

.slider_red .noUi-connect {
    background: none repeat scroll 0 0 #ed5565;
    box-shadow: none
}

.ui-sortable-placeholder {
    border: 1px dashed #cecece !important;
    background: #e7eaec
}

.tabs-container .panel-body {
    background: #fff;
    border: 1px solid #e7eaec;
}

.tabs-container .nav-tabs > li.active > a, .tabs-container .nav-tabs > li.active > a:focus, .tabs-container .nav-tabs > li.active > a:hover {
    background-color: #fff
}

.tabs-container .nav-tabs > li.active > a, .tabs-container .nav-tabs > li.active > a:focus, .tabs-container .nav-tabs > li.active > a:hover {
    border: 1px solid #e7eaec;
    border-bottom-color: transparent
}
.tabs-container .nav-tabs {
    border-bottom: 1px solid #e7eaec
}
.tabs-container .tabs-left .tab-pane .panel-body, .tabs-container .tabs-right .tab-pane .panel-body {
    border-top: 1px solid #e7eaec
}

.tabs-container .nav-tabs > li a:hover {
    border-color: transparent
}

.tabs-container .tabs-below > .nav-tabs {
    border-top: 1px solid #e7eaec
}

.tabs-container .tabs-below > .nav-tabs > li > a:focus, .tabs-container .tabs-below > .nav-tabs > li > a:hover {
    border-top-color: #e7eaec;
    border-bottom-color: transparent
}
.tabs-container .tabs-left > .nav-tabs .active > a, .tabs-container .tabs-left > .nav-tabs .active > a:focus, .tabs-container .tabs-left > .nav-tabs .active > a:hover {
    border-color: #e7eaec transparent #e7eaec #e7eaec;
    *border-right-color: #fff
}
.tabs-container .tabs-right > .nav-tabs .active > a, .tabs-container .tabs-right > .nav-tabs .active > a:focus, .tabs-container .tabs-right > .nav-tabs .active > a:hover {
    border-color: #e7eaec #e7eaec #e7eaec transparent;
    *border-left-color: #fff;
}
.onoffswitch-label {
    border: 2px solid #1AB394;
}

.onoffswitch-inner:before {

    background-color: #1AB394;
    color: #FFF
}
.onoffswitch-inner:after {
    background-color: #FFF;
    color: #919191;
}

.onoffswitch-switch {
    background: #FFF;
    border: 2px solid #1AB394;
}
.dd-handle {
    color: #333;
    border: 1px solid #e7eaec;
    background: #f5f5f5;
}
.dd-handle:hover {
    background: #f0f0f0;
}

#nestable2 .dd-item > button {
    color: #c1c1c1
}

.dd-empty, .dd-placeholder {
    background: #f2fbff;
    border: 1px dashed #b6bcbf;
}

.dd-empty {
    border: 1px dashed #bbb;
    background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
}

.nestable-lists {
    border: 0;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd
}

#nestable2 .dd-handle {
    color: inherit;
    border: 1px dashed #e7eaec;
    background: #f3f3f4;
}

.CodeMirror {
    border: 1px solid #eee;
}

label.error {
    color: #cc5965;
}

.form-control.error {
    border: 1px dotted #cc5965
}

.gridStyle {
    border: 1px solid #d4d4d4;
}

.gridStyle2 {
    border: 1px solid #d4d4d4;
}


.ngH .eaderCell {
    border-right: none;
    border-bottom: 1px solid #e7eaec
}

.ngCell {
    border-right: none
}

.ngTopPanel {
    background: #F5F5F6
}

.ngRow.even {
    background: #f9f9f9
}

.ngRow.selected {
    background: #EBF2F1
}

.ngRow {
    border-bottom: 1px solid #e7eaec
}

.ngCell {
    background-color: transparent
}

#toast-container > .toast:before {
    color: #FFF;
}


#toast-container > div {
    box-shadow: 0 0 3px #999;
}

#toast-container > :hover {
    box-shadow: 0 0 4px #999;
}

.toast, .toast-success {
    background-color: #1ab394
}

.toast-error {
    background-color: #ed5565
}

.toast-info {
    background-color: #23c6c8
}

.toast-warning {
    background-color: #f8ac59
}

.forum-post-container .media {
    border-bottom: 1px solid #f1f1f1
}

.author-info {
    color: #676a6c;
}
.forum-post-info {
    background: #f9f9f9;
    border: 1px solid #f1f1f1
}

.media-body > .media {
    background: #f9f9f9;
    border: 1px solid #f1f1f1
}

.forum-item {
    border-bottom: 1px solid #f1f1f1
}

.forum-item small {
    color: #999
}

.forum-item .forum-sub-title {
    color: #999;
}

.forum-desc {
    color: #999
}

.forum-icon .fa {
    color: #9b9b9b
}

.forum-item.active .fa, .forum-item.active a.forum-item-title {
    color: #1ab394
}

#vertical-timeline::before {
    background: #f1f1f1
}

#vertical-timeline.light-timeline:before {
    background: #e7eaec
}

.dark-timeline .vertical-timeline-content:before {
    border-color: transparent #f5f5f5 transparent transparent
}

.dark-timeline.center-orientation .vertical-timeline-content:before {
    border-color: transparent transparent transparent #f5f5f5
}

.dark-timeline .vertical-timeline-block:nth-child(2n) .vertical-timeline-content:before, .dark-timeline.center-orientation .vertical-timeline-block:nth-child(2n) .vertical-timeline-content:before {
    border-color: transparent #f5f5f5 transparent transparent
}

.dark-timeline .vertical-timeline-content, .dark-timeline.center-orientation .vertical-timeline-content {
    background: #f5f5f5
}

@media only screen and (max-width: 1170px) {
    .center-orientation.dark-timeline .vertical-timeline-content:before {
        border-color: transparent #f5f5f5 transparent transparent
    }
}

.vertical-timeline-icon {
    border: 3px solid #f1f1f1;
}

.vertical-timeline-content {
    background: #fff;
}
.vertical-date small {
    color: #1ab394;
}

.vertical-timeline-content::before {
    border: 7px solid transparent;
    border-right: 7px solid #fff
}

@media only screen and (min-width: 1170px) {
    .center-orientation .vertical-timeline-content::before {
        border-color: transparent;
        border-left-color: #fff
    }

    .center-orientation .vertical-timeline-block:nth-child(even) .vertical-timeline-content::before {
        border-color: transparent;
        border-right-color: #fff
    }

}

.sidebard-panel {
    background: #ebebed;
}


#right-sidebar {
    background-color: #fff;
    border-left: 1px solid #e7eaec;
    border-top: 1px solid #e7eaec;
}


.sidebar-container ul.nav-tabs li a {
    background: #2f4050;
    color: #fff;
    border-right: 1px solid #334556
}

.sidebar-container ul.nav-tabs li.active a {
    border: none;
    background: #f9f9f9;
    color: #676a6c;
}

.sidebar-container ul.sidebar-list li {
    border-bottom: 1px solid #e7eaec;
}

.sidebar-container .sidebar-message:nth-child(2n+2) {
    background: #f9f9f9
}

.sidebar-container ul.sidebar-list li a {
    color: inherit
}

.sidebar-container .sidebar-title {
    background: #f9f9f9;
    border-bottom: 1px solid #e7eaec
}

.sidebar-container .setings-item {
    border-bottom: 1px solid #e7eaec
}

body {
    color: #676a6c;
}

body.boxed-layout #wrapper {
    background-color: #2f4050;
}

.border-bottom {
    border-bottom: 1px solid #e7eaec !important
}

.b-r {
    border-right: 1px solid #e7eaec
}


.hr-line-dashed {
    border-top: 1px dashed #e7eaec;
    color: #fff;
    background-color: #fff;
}

.hr-line-solid {
    border-bottom: 1px solid #e7eaec;
    background-color: rgba(0, 0, 0, 0);
}

.note-editor {
    border: solid 1px #e5e6e7
}

.modal-content {
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}

.inmodal .modal-body {
    background: #f8fafb
}

.inmodal .modal-icon {
    color: #e2e3e3
}
#wrapper {
    background-color: #2f4050
}

.big-icon {
    color: #e5e6e7
}

.footer {
    background: none repeat scroll 0 0 #fff;
    border-top: 1px solid #e7eaec;
}


.footer.fixed_full {
    background: #fff;
    border-top: 1px solid #e7eaec
}

.footer.fixed {
    background: #fff;
    border-top: 1px solid #e7eaec;
}

.content-tabs {
    background: #fafafa;
}
.content-tabs .roll-nav, .page-tabs-list {
    color: #999;
}

.content-tabs .roll-left {
    border-right: solid 1px #eee
}

.content-tabs .roll-right {
    border-left: solid 1px #eee
}

.content-tabs button {
    background: #fff;
}

.content-tabs button:hover {
    background: #fafafa
}

.page-tabs a {
    border-right: solid 1px #eee;
}

.page-tabs a i:hover {
    color: #c00
}

.content-tabs .roll-nav:hover, .page-tabs a:hover {
    color: #777;
    background: #f2f2f2;
}

.roll-right.J_tabExit {
    background: #fff;
}


.table-bordered {
    border: 1px solid #EBEBEB
}

.table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    background-color: #F5F5F6
}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 1px solid #e7e7e7
}

.table > thead > tr > th {
    border-bottom: 1px solid #DDD
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    border-top: 1px solid #e7eaec;
}


.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border-color: #ddd #ddd rgba(0, 0, 0, 0);
    border-bottom: #f3f3f4;
    color: #555;
}

.nav-tabs > li > a {
    color: #A7B1C2;
}

.nav-tabs > li > a:focus, .nav-tabs > li > a:hover {
    background-color: #e6e6e6;
    color: #676a6c
}
.border-left-right {
    border-left: 1px solid #e7eaec;
    border-right: 1px solid #e7eaec;
    border-top: none;
    border-bottom: none
}

.border-left {
    border-left: 1px solid #e7eaec;
    border-right: none;
    border-top: none;
    border-bottom: none
}

.border-right {
    border-left: none;
    border-right: 1px solid #e7eaec;
    border-top: none;
    border-bottom: none
}

img.circle-border {
    border: 6px solid #FFF;
}

.branding {
    color: #FFF;
    background-color: #1ab394
}
.page-header {
    border-bottom: 1px solid #eee
}

.fontawesome-icon-list .fa-hover a {
    color: #222;
}
.fontawesome-icon-list .fa-hover a:hover {
    background-color: #1d9d74;
    color: #fff;
}
.fontawesome-icon-list .fa-hover a:hover .text-muted {
    color: #bbe2d5
}
.breadcrumb {
    background-color: #fff;
}

.breadcrumb > .active, .breadcrumb > li a {
    color: inherit
}

code {
    background-color: #F9F2F4;
    color: #ca4440;
}

.ibox-title {
    background-color: #fff;
    border-color: #e7eaec;
    color: inherit;
}

.ibox-content {
    background-color: #fff;
    color: inherit;
    border-color: #e7eaec;
}

.unread td, .unread td a {
    color: inherit
}

.read td, .read td a {
    color: inherit
}
.unread td {
    background-color: #f9f8f8
}

.ibox-heading {
    background-color: #f3f6fb;
    border-bottom: none
}

.ibox-tools a {
    color: #c4c4c4
}

.ibox-tools a.btn-primary {
    color: #fff
}


.gray-bg {
    background-color: #f3f3f4
}

.white-bg {
    background-color: #fff
}

.navy-bg {
    background-color: #1ab394;
    color: #fff
}

.blue-bg {
    background-color: #1c84c6;
    color: #fff
}

.lazur-bg {
    background-color: #23c6c8;
    color: #fff
}

.yellow-bg {
    background-color: #f8ac59;
    color: #fff
}

.red-bg {
    background-color: #ed5565;
    color: #fff
}

.black-bg {
    background-color: #262626
}

.panel-primary {
    border-color: #1ab394
}

.panel-primary > .panel-heading {
    background-color: #1ab394;
    border-color: #1ab394
}

.panel-success {
    border-color: #1c84c6
}

.panel-success > .panel-heading {
    background-color: #1c84c6;
    border-color: #1c84c6;
    color: #fff
}

.panel-info {
    border-color: #23c6c8
}

.panel-info > .panel-heading {
    background-color: #23c6c8;
    border-color: #23c6c8;
    color: #fff
}

.panel-warning {
    border-color: #f8ac59
}

.panel-warning > .panel-heading {
    background-color: #f8ac59;
    border-color: #f8ac59;
    color: #fff
}

.panel-danger {
    border-color: #ed5565
}

.panel-danger > .panel-heading {
    background-color: #ed5565;
    border-color: #ed5565;
    color: #fff
}

.progress-bar {
    background-color: #1ab394
}


.progress-bar-navy-light {
    background-color: #3dc7ab
}

.progress-bar-success {
    background-color: #1c84c6
}

.progress-bar-info {
    background-color: #23c6c8
}

.progress-bar-warning {
    background-color: #f8ac59
}

.progress-bar-danger {
    background-color: #ed5565
}



.text-navy {
    color: #1ab394
}

.text-primary {
    color: inherit
}

.text-success {
    color: #1c84c6
}

.text-info {
    color: #23c6c8
}

.text-warning {
    color: #f8ac59
}

.text-danger {
    color: #ed5565
}

.text-muted {
    color: #888
}

.simple_tag {
    background-color: #f3f3f4;
    border: 1px solid #e7eaec;
     color: inherit;
}

.img-shadow {
    box-shadow: 0 0 3px 0 #919191
}

.ComposeEmail .navbar.navbar-static-top, .Dashboard_2 .navbar.navbar-static-top, .Dashboard_3 .navbar.navbar-static-top, .Dashboard_4_1 .navbar.navbar-static-top, .EmailView .navbar.navbar-static-top, .Inbox .navbar.navbar-static-top, .dashboards\.dashboard_2 nav.navbar, .dashboards\.dashboard_3 nav.navbar, .dashboards\.dashboard_4_1 nav.navbar, .mailbox\.email_compose nav.navbar, .mailbox\.email_view nav.navbar, .mailbox\.inbox nav.navbar {
    background: #fff
}

a.close-canvas-menu {
    color: #a7b1c2
}

a.close-canvas-menu:hover {
    color: #fff
}
.fh-column {
    background: #fff;
}

.search-result h3 {
    color: #1E0FBE
}

.search-result .search-link {
    color: #006621
}

.contact-box {
    background-color: #fff;
    border: 1px solid #e7eaec;
}

.invoice-total > tbody > tr > td:last-child {
    border-bottom: 1px solid #DDD;
}

.logo-name {
    color: #e6e6e6;
}

.lock-word span {
    color: #e9e9e9;
}

.list-group.clear-list .list-group-item {
    border-top: 1px solid #e7eaec;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
}
.timeline-item .date i {
    border-top: 1px solid #e7eaec;
    border-bottom: 1px solid #e7eaec;
    border-left: 1px solid #e7eaec;
    background: #f8f8f8
}

.timeline-item .content {
    border-left: 1px solid #e7eaec;
    border-top: 1px solid #e7eaec;
}

.timeline-item .content:hover {
    background: #f6f6f6
}

ul.notes li div {
    color: #000;
    background: #ffc;
    box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
}

